---
import Testimonials from '../components/Testimonials';
import RecentProjects from '../components/RecentProjects';
import FAQ from '../components/FAQ';
---
<header>
 
</header>
<main class="">    
  <section class="container px-4 py-12 flex-auto flex flex-col gap-8 mt-12 max-w-4xl mx-auto">
    <h1 class="text-6xl mb-8 font-mono tracking-tighter leading-tight">Building calm, thoughtful interfaces in a noisy world</h1>
    <p class="text-xl text-gray-600 leading-relaxed">I'm a senior frontend developer with a foundation in visual design, focused on building useful products and scaling durable design systems.
</p><p class="text-xl text-gray-600 leading-relaxed">
I work best at the intersection of design and engineering—translating visual clarity into accessible, maintainable interfaces. I’ve led design system initiatives, modernized legacy codebases, and advocated for quality in fast-paced, resource-constrained environments.
</p><p class="text-xl text-gray-600 leading-relaxed">
    I’m passionate about building products that are not just functional, but also delightful to use. I believe in the power of thoughtful design and clean code to create experiences that resonate with users. My approach is user-centered, focusing on solving real problems with empathy and precision.
I value calm collaboration, thoughtful execution, and long-term product thinking. I’m currently looking for a remote-friendly team that shares those values—and is building something that matters.</p>
  </section>
  <RecentProjects />
  <!-- <FAQ client:load/> -->
  <Testimonials />
</main>

