---
// Import the fixed component
// import PhysicsElements from '../components/Gravity.jsx';
---

  <header>
    <a href="/" aria-label="Homepage">
      <svg
        class="logo"
        width="34"
        height="32"
        viewBox="0 0 34 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.70675 2.44625C9.3323 2.65818 8.86839 2.38767 8.86839 1.95741C8.86839 0.627705 7.43465 -0.208293 6.27742 0.446649L1.07242 3.39246C0.40969 3.76753 2.35228e-06 4.47015 2.18802e-06 5.23165L0 8.02792C0 8.03213 0.00453902 8.03477 0.00820143 8.0327C0.0118638 8.03063 0.0164013 8.03327 0.0164013 8.03748V13.8867C0.0164013 13.9251 0.0199767 13.9626 0.0268124 13.9989C0.032811 14.0308 0.0366437 14.0632 0.0395087 14.0955C0.0403853 14.1054 0.0415893 14.1154 0.0431298 14.1253C0.274088 15.6184 1.95666 16.4877 3.33351 15.7085L7.1407 13.5538C7.51516 13.3418 7.97908 13.6123 7.97908 14.0426C7.97908 15.3723 9.41282 16.2083 10.5701 15.5534L15.7751 12.6076C16.4378 12.2325 16.8475 11.5299 16.8475 10.7684V7.9721C16.8475 7.96789 16.8429 7.96525 16.8393 7.96732C16.8356 7.96939 16.8311 7.96675 16.8311 7.96254V2.1133C16.8311 2.07495 16.8275 2.03743 16.8207 2.00106C16.8147 1.96915 16.8108 1.93681 16.808 1.90446C16.8071 1.89457 16.8059 1.88464 16.8043 1.87468C16.5734 0.381581 14.8908 -0.487699 13.514 0.291535L9.70675 2.44625Z"
        />
      </svg>
    </a>
  </header>
  <main>    
    <section>
      <h1>Hi – I'm Matt Whalley.</h1> 
      <h2>I build digital tools that solve meaningful problems.</h2>
      <p>
        Currently, I'm lead UX/UI developer at <a href="https://caqh.org" target="_blank">CAQH</a> where I build and scale a design system and user interfaces for
        tools used daily by millions of US healthcare administrators.
      </p> 
      <p>Previously, I was senior front-end developer and designer at <a href="https://broward.org" target="_blank">Broward County Government</a> where I worked on improving usability and accessibility of digital public services.
      </p>
      <p>In my free time, I solve bouldering problems and spend time with my wife and 2 young kids in the oldest city in the country.</p>
      <p>Connect with me on <a href="https://bsky.app/profile/mttwhlly.bsky.social" target="_blank">Bluesky</a>, <a href="https://github.com/mttwhlly" target="_blank">Github</a>, or <a href="https://linkedin.com/in/mttwhlly" target="_blank">Linkedin</a>, or by email at <a
          href="mailto:&#109;&#97;&#116;&#116;&#64;&#109;&#97;&#116;&#116;&#119;&#104;&#97;&#108;&#108;&#101;&#121;&#46;&#99;&#111;&#109;"
        >
          &#109;&#97;&#116;&#116;&#64;&#109;&#97;&#116;&#116;&#119;&#104;&#97;&#108;&#108;&#101;&#121;&#46;&#99;&#111;&#109;</a>.</p>
    </section>
  </main>
  <footer>
  </footer>
