---
import Testimonials from '../components/Testimonials';
import RecentProjects from '../components/RecentProjects';
import Experiments from '../components/Experiments';
import Tools from '../components/Tools';
import SelectedClients from '../components/SelectedClients';
import Skills from '../components/Skills';
---
<header>
 
</header>
<main class="">    
  <section class="container px-4 pt-20 pb-12 flex-auto flex flex-col gap-8 max-w-4xl mx-auto border-gray-200">
    <!-- <AnimatedHeading client:load /> -->
    <h1 class="mb-8 font-serif leading-tight md:text-6xl text-4xl md:tracking-tight tracking-loose min-h-[1.2em]">
      <i class="px-1 underline underline-offset-6 decoration-[#D4FC52] decoration-from-font text-pretty">Design Engineer</i> focused on building scalable design systems <i class="px-1">&</i> calm, accessible interfaces.
    </h1>
      <p class="text-xl text-gray-600 leading-relaxed">On paper, I’m a frontend engineer — but my strength is translating design vision into durable, usable products.</p>
      <p class="text-xl text-gray-600 leading-relaxed">My approach is quiet but intentional: collaborative, systems-minded, and grounded in real-world usability. I'm looking for a remote-friendly team that values depth, quality, and long-term product health.</p>
  </section>
    <RecentProjects />
  <Experiments client:load />
  <!-- <Skills client:load /> -->
  <Tools client:load />
  <SelectedClients client:load />
    <Testimonials client:load />
    <section class="container px-4 pb-20 flex-auto flex flex-col gap-8 mt-12 max-w-4xl mx-auto text-center">
      <p class="text-2xl text-gray-600 leading-relaxed"><span class="underline underline-offset-4 decoration-[#D4FC52] decoration-3px text-pretty">Open</span> to full-time remote roles or well-scoped side projects.<br/>If you value deep work and long-term thinking, <i class="font-serif text-black tracking-wide">let's chat</i>.</p>
      <div class="my-12 flex justify-center gap-4">
        <!-- <a href="/matt-whalley-resume-20250718.pdf" target="_blank" rel="noopener noreferrer" class="text-lg md:text-2xl font-medium py-3 px-8 transition-colors duration-500 rounded-full bg-gray-100 font-mono">
           View Resume
        </a> -->
        <a href="mailto:&#109;&#97;&#116;&#116;&#64;&#109;&#97;&#116;&#116;&#119;&#104;&#97;&#108;&#108;&#101;&#121;&#46;&#99;&#111;&#109;" class="flex gap-2 text-lg md:text-2xl font-medium py-3 px-8 rounded-full shadow-[#D4FC52]/20 bg-[#D4FC52] shadow-sm hover:shadow-[#D4FC52]/40 hover:shadow-lg transition-all duration-700 font-mono">
           Get in Touch
        </a>
      </div>
    </section>
</main>