---
import Testimonials from '../components/Testimonials';
import RecentProjects from '../components/RecentProjects';
import CaseStudies from '../components/CaseStudies.astro';
import Experiments from '../components/Experiments';
import Tools from '../components/Tools';
import SelectedClients from '../components/SelectedClients';
import Newsletter from '../components/Newsletter';
---
<header>
 
</header>
<main class="">    
  <section class="container px-4 pt-12 lg:pt-20 lg:pb-12 flex-auto flex flex-col gap-3 md:gap-8 max-w-4xl mx-auto border-gray-200">
    <!-- <AnimatedHeading client:load /> -->
   <h1 class="mb-8 font-serif leading-tight md:text-6xl text-4xl md:tracking-tight tracking-loose min-h-[1.2em]">
  <!-- <i class="px-1 underline underline-offset-6 decoration-[#D4FC52] decoration-from-font text-pretty"> -->
    Building AI products that are <i class="px-1 underline underline-offset-6 decoration-[#D4FC52] decoration-from-font text-pretty"> useful</i>, <i class="px-1 underline underline-offset-6 decoration-[#D4FC52] decoration-from-font text-pretty"> usable</i> <i>&</i> <i class="px-1 underline underline-offset-6 decoration-[#D4FC52] decoration-from-font text-pretty"> sustainable</i>. 
</h1>

<div class="flex flex-wrap gap-2">
  <span class="text-sm text-gray-600 leading-relaxed max-w-3xl border-1 border-none bg-gray-100 px-3 py-1 rounded-lg">
    AI Product Engineer
  </span>

  <span class="text-sm text-gray-600 leading-relaxed max-w-3xl border-1 border-none bg-gray-100 px-3 py-1 rounded-lg">
    UX Engineering Lead
  </span>

  <span class="text-sm text-gray-600 leading-relaxed max-w-3xl border-1 border-none bg-gray-100 px-3 py-1 rounded-lg">
    Senior/Staff IC
  </span>

  <span class="text-sm text-gray-600 leading-relaxed max-w-3xl border-1 border-none bg-gray-100 px-3 py-1 rounded-lg">
    Remote
  </span>
</div>

<p class="text-xl text-gray-600 leading-relaxed max-w-3xl mt-6">
I bridge AI, design & engineering to turn emerging technology into dependable products people can actually use.</p>
  </section>
  <CaseStudies />
    <RecentProjects />
  <Experiments client:load />
  <Tools client:load />
  <SelectedClients client:load />
    <Testimonials client:load />
    <Newsletter client:load />
    <!-- <section class="container lg:mb-20 px-4 pt-20 pb-12 flex-auto flex flex-col gap-8 lg:mt-12 w-full max-w-4xl mx-auto text-center bg-gray-100 lg:rounded-2xl">
      <p class="text-2xl text-gray-600 leading-relaxed"><span class="underline underline-offset-4 decoration-[#D4FC52] decoration-3px text-pretty">Open</span> to full-time remote roles, well-scoped side projects, and teaching or mentoring opportunities.<br/>If you value deep work and long-term thinking, <i class="font-serif text-black tracking-wide">let's chat</i>.</p>
      <div class="my-12 flex justify-center gap-4">
        <a href="mailto:&#109;&#97;&#116;&#116;&#64;&#109;&#97;&#116;&#116;&#119;&#104;&#97;&#108;&#108;&#101;&#121;&#46;&#99;&#111;&#109;" class="flex gap-2 text-lg md:text-2xl font-medium py-3 px-8 rounded-full shadow-[#D4FC52]/20 bg-[#D4FC52] shadow-sm hover:shadow-[#D4FC52]/40 hover:shadow-lg transition-all duration-700 font-mono">
           Get in Touch
        </a>
      </div>
    </section> -->
</main>