
:root {
  color-scheme: light dark;
  font-family: 'Inter', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.5;
  color: light-dark(rgba(0,0,0, 0.7), rgba(255,255,255, 0.7));
  background-color: light-dark(rgba(255,255,255, 0.7), rgba(0,0,0, 0.7));
}

h1 {
  font-family: 'Instrument Serif', serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1rem;
  color: light-dark(rgba(0,0,0, 0.9), rgba(255,255,255, 0.9));
}

h2 {
  font-family: 'Instrument Serif', serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.75rem;
  color: light-dark(rgba(0,0,0, 0.9), rgba(255,255,255, 0.9));
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #878787;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
}

h5 {
  font-size: 0.95rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  ul.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    gap: 0 10px; /* Optional: space between the columns */
    list-style-type: none; /* Remove bullet points if desired */
    padding: 0; /* Remove padding */
  }
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p,
li {
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.8;
}

p {
  line-height: 1.4;
  margin: 1rem 0;
}

a {
  color: #ffffff;
  font-family: 'Instrument Serif', serif;
  /* font-style: italic; */
  font-weight: 400;
  text-decoration: none;
  padding: 0px;
  font-size: .9rem;
  letter-spacing: .5px;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: #999999;
    text-decoration: underline;
  }
}

h4 > span,
li > span {
  float: right;
  font-size: 0.75rem;
  color: #878787;
  padding-top: 4px;
}

li > span {
  margin-left: auto;
  font-size: 0.75rem;
  color: #878787;
  padding-top: 4px;
}

header {
  padding: 1.4rem;
  display: flex;
  border-bottom: 1px dotted rgba(255, 255, 255, .4);
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  .logo {
    fill: #171717;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .logo {
    fill: white;
  }
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: opacity 0.5s ease-in-out;
}

main {
  padding: 6rem 1rem 0;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 2rem;
}

footer {
  padding: 1rem;
  text-align: center;
  font-size: .75rem;
  color: #878787;
  letter-spacing: 0.05em;
}
